.portfolio
  .showcase
    position: relative
    transform: translateY(-3rem)
    ul
      li
        display: inline-block
        position: relative
        .slides
          margin: 2.5rem 0
          position: relative
          +size(25rem)
          .slide
            +size(100%,25rem)
            background: $light
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            opacity: 0
            transition: all .4s ease-in-out
            &.is-slide-show
              opacity: 1
              z-index: 1
            &:hover
              .slide-link
                transform: translate(-50%, -50%) scale(1.2)
              .slide-info
                opacity: 1
            .slide-info
              width: 80%
              padding: .8rem
              position: absolute
              bottom: 30%
              left: 50%
              transform: translateX(-50%)
              background: transparentize($dark,.3)
              opacity: 0
              transition: all .2s ease-in-out
              letter-spacing: .15rem
            .slide-link
              +size(2.5rem)
              position: absolute
              bottom: 1rem
              left: 50%
              background: $white
              color: $dark
              border-radius: 100%
              transform: translateX(-50%)
              display: flex
              justify-content: center
              align-items: center
              transition: all .2s ease-in-out
              cursor: pointer
              box-shadow: 0 0 1.5rem transparentize($dark, 0)
          .slide-1
            background: url('../images/decode.png') no-repeat center
              size: contain
          .slide-2
            background: url('../images/landing.png') no-repeat center
              size: contain
          .slide-3
            background: url('../images/landing-form.png') no-repeat center
              size: contain
          .slide-4
            background: lightgreen
      [id*='portfolio-motor']
        font-size: 1.5rem
        +size(2em)
        border-radius: 50%
        background: $white
        color: $dark
        line-height: 2em
        cursor: pointer
        position: absolute
        z-index: 5
        box-shadow: 0 0 1.5rem transparentize($dark, .5)
        &:hover
          transform: scale(1.2)
      .fa-caret-right
        padding-left: .9em
        right: -1rem
      .fa-caret-left
        padding-left: .7em
        left: -1rem
    ol
      li
        display: inline-block
        margin: 2rem 2rem
        +size(8px)
        background-color: $white
        border-radius: 50%
        cursor: pointer
        transition: all .3s ease-in-out
        &:hover
          transform: scale(1.4)
        &.is-dot-active
          transform: scale(1.7)
          background-color: $red
