doctype html
html
  head
    meta(charset="UTF-8")
    title - || - Welcome - || -
    meta(name="description" content="My Portfolio")
    meta(name="keywords" content="Vikas Raj, Vkas Raj, Vkaas, Github")
    meta(name="author" content="Vikas Raj")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    link(rel="icon" type="image/png" href="icon.png")
    //- link(href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    <script>document.write('<link rel="stylesheet" href="assets/css/font-awesome.css">')</script>
    link(rel="stylesheet" href="assets/css/style.css")
  body.preload

    include pages/preloader
    include pages/lightbox
    include pages/home

    
    
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    <script>window.jQuery || document.write('<script src="assets/js/jquery.js"><\/script>')</script>
    
    script(type="text/javascript" language="javascript" src="assets/js/script.js")
    
