.page.about
  .container-fluid
    .row
      .col-12.col-md-10.push-md-2.lead
        .row
          .col-12
            i.fa.fa-quote-left.fa-2x
        .row
          .col-12.text-center
            h1.l-spacer hello.,
            p.l-spacer I am <b>VIKAS RAJ</b>, I am 20 years old <b>FRONT-END WEB DEVELOPER</b>. <br> I am currently living in New Delhi, Delhi with my lovely parents.<br>I done my high schooling from Kendriya Vidyalaya No.3, Delhi Cantt.<br>Also, I completed my graduation Delhi University - B.COM(H).
            a(href='docs/bio.html') KNOW MORE
        .row
          .col-12.flex.flex-end
            i.fa.fa-quote-right.fa-2x
