.page.about
  .container-fluid
    .row
      .col-12.col-md-10.push-md-2.lead
        .row
          .col-12
            i.fa.fa-quote-left.fa-2x
        .row
          .col-12.text-center
            h1.l-spacer hello..,
            p.lead.l-spacer I am <b>VIKAS RAJ</b>,<br> I am a <code><b>&lt;</b>Coder<b>&gt;</b></code> who focuses on writing clean and elegant code.<br>I am currently living in New Delhi, Delhi with my lovely parents.<br>I done my high schooling in Delhi.<br>Also, I completed my graduation from Delhi University.
            a(href='docs/bio.html') KNOW MORE
        .row
          .col-12.flex.flex-end
            i.fa.fa-quote-right.fa-2x
