.page.gallery
  .container-fluid
    .row
      .col-12.col-md-10.push-md-2.p-0
        .row.no-gutters
          .col-6
            .box.box-1.lightbox-trigger
          .col-6
            .box.box-2.lightbox-trigger
        .row.no-gutters
          .col-6.col-md-3
            .box.box-3.lightbox-trigger
          .col-6.col-md-5
            .box.box-4.lightbox-trigger
          .col-6.col-md-4
            .box.box-5.lightbox-trigger
          .col-6.col-md-4
            .box.box-6.lightbox-trigger
          .col-6.col-md-3
            .box.box-7.lightbox-trigger
          .col-6.col-md-5
            .box.box-8.lightbox-trigger
