.page.landing-page
  .container-fluid
    .row
      .col-12.col-md-2.flex.flex-center
        .social-nav
          ul.no-bullets
            li
              a(href="https://facebook.com/vkaasraj" target="_blank"): i.fa.fa-facebook.fa-lg
            li
              a(href="https://instagram.com/vkasraj" target="_blank"): i.fa.fa-instagram.fa-lg
            li
              a(href="https://plus.google.com/u/0/108140611250238059802" target="_blank"): i.fa.fa-google-plus.fa-lg
            li
              a(href="https://dribbble.com/vkasraj" target="_blank"): i.fa.fa-dribbble.fa-lg
            li
              a(href="https://github.com/vkasraj" target="_blank"): i.fa.fa-github.fa-lg
      .col-12.col-md-10
        .hero
          .row
            .col-12.col-md-6.push-1.push-md-2
              .pic-wrapper.flex
                .pic-container
                picture
                  source(media="(min-width: 768px)" srcset='assets/images/photo_lg.png')
                  img(src='assets/images/photo_sm.png' alt='photo' draggable='false')
            .col-12.col-md-6
              .name-container.push-2.push-md-0
                .name-wrapper
                  .name.flex.flex-center
                    p VIKAS RAJ
                  .designation
                    p FRONT-END WEB DEVELOPER
