.lightbox.height-full.flex.flex-center
  .close-btn
    i.fa.fa-close.fa-lg.text-center
  .container-fluid.height-full
    .row.height-full
      .col-12.p-0.height-full
        ul.no-bullets.flex.flex-center.height-full
          li.fa.fa-caret-left.fa-lg
          li.lightbox-img-container.text-center
            img(src='assets/images/bubbles.jpg').is-img-show
            img(src='assets/images/ball.jpg')
          li.fa.fa-caret-right.fa-lg
