.lightbox.height-full.flex.flex-center
  .close-btn
    i.fa.fa-close.fa-lg.text-center
  .container-fluid.height-full
    .row.height-full
      .col-12.p-0.height-full
        ul.no-bullets.flex.flex-center.height-full
          //- li.fa.fa-caret-left.fa-lg
          li.lightbox-img-container.text-center
            img#lb_one_img(src='./assets/images/one.jpg').is-img-show
            img#lb_two_img(src='./assets/images/two.jpg')
            img#lb_three_img(src='./assets/images/three.jpg')
            img#lb_four_img(src='./assets/images/four.jpg')
            img#lb_five_img(src='./assets/images/four.jpg')
            img#lb_six_img(src='./assets/images/four.jpg')
            img#lb_seven_img(src='./assets/images/four.jpg')
            img#lb_eight_img(src='./assets/images/four.jpg')
          //- li.fa.fa-caret-right.fa-lg
