.page.portfolio
  .container-fluid
    .row
      .col-12.col-md-10.push-md-2 
        .showcase
          ul.no-bullets.flex.flex-center
            li.fa.fa-caret-left.fa-lg#portfolio-motor-left
            li
              .slides
                .slide.slide-1.is-slide-show
                  .slide-info.text-center
                    small AN FRONT END CODE EDITOR BUILT WITH VUE.JS
                  a.slide-link(target="_blank" href="https://vkasraj.github.io/decode")
                    i.fa.fa-info
                .slide.slide-2
                  .slide-info
                  a.slide-link(target="_blank" href="#0")
                    i.fa.fa-info
                .slide.slide-3
                  .slide-info.text-center
                    small A LANDING PAGE DEMO WITH FORM
                  a.slide-link(target="_blank" href="https://vkasraj.github.io/landing-form")
                    i.fa.fa-info
                .slide.slide-4
                  .slide-info
                  a.slide-link(target="_blank" href="#0")
                    i.fa.fa-info
            li.fa.fa-caret-right.fa-lg#portfolio-motor-right
          ol.no-bullets.text-center
            li.portfolio-dots.is-dot-active
            li.portfolio-dots
            li.portfolio-dots
            li.portfolio-dots
