.page.portfolio
  .container-fluid
    //- .row
    //-   .col-12.col-md-10.push-md-2
    //-     h2.text-center PORTFOLIO
    .row
      .col-12.col-md-10.push-md-2 
        .showcase
          ul.no-bullets.flex.flex-center
            li.fa.fa-caret-left.fa-lg#portfolio-motor-left
            li.slides
              .slide.slide-1.is-slide-show
              .slide.slide-2
              .slide.slide-3
              .slide.slide-4
            li.fa.fa-caret-right.fa-lg#portfolio-motor-right
          ol.no-bullets.text-center
            li.portfolio-dots.is-dot-active
            li.portfolio-dots
            li.portfolio-dots
            li.portfolio-dots
