doctype html
html
  head
    meta(charset="UTF-8")
    title - || - Bio - || -
    meta(name="description" content="My Portfolio")
    meta(name="keywords" content="Vikas Raj, Vkas Raj, Vkaas, Github")
    meta(name="author" content="Vikas Raj")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    link(rel="icon" type="image/png" href="../icon.png")
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    <script>document.write('<link rel="stylesheet" href="../assets/css/font-awesome.css">')</script>
    link(rel="stylesheet" href="../assets/css/style.css")
  body(style="overflow:auto !important")
    .back-btn
      i.fa.fa-arrow-left.fa-lg.text-center
    .container-fluid
      .row
        .col-12
          .triangle-container
            .triangle-title Hi
            .triangle-svg
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 344">
                <style>.st1 { fill: #fff;}</style>
                <g id="344d6a1f-61cd-4b95-b305-3f495580ac32" data-name="Layer 2">
                  <g id="849150cb-576b-45b5-909d-23916982e49c" data-name="Layer 1">
                    <path class="st1" d="M200,29.84,373.93,329H26.07L200,29.84M200,0,0,344H400L200,0Z"/>
                  </g>
                </g>
              </svg>
    .container
      .row.text-center
        .col-12
          p.lead.l-spacer My name is <b>VIKAS RAJ</b>
          hr.hr1
      .row.text-center
        .col-12
          p.kaushan.font-shadow.l-spacer.display-1 I love to design new & colorful things.
          hr.hr1
    .container-fluid(style="margin-top:2rem")
      .row
        .col-12.col-md-6.p-0
          div(style='height:500px;background:#1a1a1a')
        .col-12.col-md-6.p-0.flex.flex-center
          table.l-spacer
            tr
              td D.O.B.
              td :
              td 19 Nov 1996
            tr
              td Father's Name
              td :
              td Amrit Rajbanshi
            tr
              td Address
              td : 
              td CJ-56, Naraina Vihar, New Delhi
            tr
              td Phone
              td :
              td: a(href="tel:+917529905454") +91-7529905454
            tr
              td Email
              td :
              td: a(href="mailto:vikasraj1911@gmail.com") vikasraj1911@gmail.com
    hr.hr1
    .container
      .row
        .col-12.l-spacer.lead.flex.flex-center
          .skills
            h2 SKILLS
            h4 TECHNICAL SKILLS
            ul
              li Knowledge of Current Web Standards : HTML5, CSS 3, JAVASCRIPT, SVG
              li W3 Standards
              li Responsive Web Design :  CSS Media Queries
              li Libraries : Bootstrap, jQuery
              li Preprocessors : Pug for HTML & SASS for CSS
              li Basics of Linux, Command Line Interface, Github, Networking, etc.
            h4 SOFTWARE/TOOLS
            ul
              li Graphics : Adobe Photoshop, Adobe Illustrator, Corel Draw
              li Code : Atom, VS Code, Prepros, Chome Developer Tools
              li MS Office : Word, Excel, Power Point, Access
            .white-bg
              .row
                .col-12.col-md-6
                  .html
                    p HTML5
                    .bar-wrapper
                      .bar-outer
                        .bar-length.html-bar-length(data-tooltip='92%')
                  .css.m-1
                    p CSS3
                    .bar-wrapper
                      .bar-outer
                        .bar-length.css-bar-length(data-tooltip='88%')
                  .js.m-1
                    p Javascript
                    .bar-wrapper
                      .bar-outer
                        .bar-length.js-bar-length(data-tooltip='80%')
                  .jquery.m-1
                    p jQuery
                    .bar-wrapper
                      .bar-outer
                        .bar-length.jquery-bar-length(data-tooltip='82%')
                .col-12.col-md-6
                  .ps
                    p Photoshop
                    .bar-wrapper
                      .bar-outer
                        .bar-length.ps-bar-length(data-tooltip='95%')
                  .ai.m-1
                    p Illustrator
                    .bar-wrapper
                      .bar-outer
                        .bar-length.ai-bar-length(data-tooltip='78%')
                  .bootstrap.m-1
                    p Bootstrap
                    .bar-wrapper
                      .bar-outer
                        .bar-length.bootstrap-bar-length(data-tooltip='83%')
                  .sass.m-1
                    p SASS
                    .bar-wrapper
                      .bar-outer
                        .bar-length.sass-bar-length(data-tooltip='78%')
            h2 EDUCATION
            dl
              dt Bachelor of Commerce (Hons.) (2017)
              dd - School Of Open Learning (SOL), DU
              dt 12th from CBSE Board (2014)
              dd - Kendriya Vidyalaya No.3, New Delhi
              
            h2 PROFFESIONAL COURSES
            dl
              dt Computer Operator & Programming Assistant (COPA) (2017)
              dd - Industrial Training Institute (ITI), PUSA
              dt Desktop Publishing Operator (DTPO) (2016)
              dd - Industrial Training Institute (ITI), PUSA
      hr.hr1
      .row
        .col-12.l-spacer
          .hobbies-container
            h2.text-center.m-1 HOBBIES
            .row.text-center
              .col-12.col-md-6
                .row
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.8 74">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <path class="cls-1" style='fill: #da863c;' d="M15.87,15.54v41a14.72,14.72,0,0,0-8.58,1.75c-5.69,3-8.67,8.51-6.66,12.34s8.25,4.53,13.94,1.54c4.53-2.37,7.33-6.36,7.28-9.82h0V31.65l30-11.1V46a14.72,14.72,0,0,0-8.58,1.75c-5.69,3-8.67,8.51-6.66,12.34s8.25,4.53,13.94,1.54C55,59.31,57.77,55.4,57.79,52h0V0Z"/>
                                <polygon class="cls-2" style='fill: #a76224;' points="53.47 9.31 20.2 21.64 20.2 18 53.47 5.67 53.47 9.31"/>
                                <polygon class="cls-2" style='fill: #a76224;' points="53.47 15.88 20.2 28.2 20.2 24.56 53.47 12.23 53.47 15.88"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Music
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.67 68">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <path class="cls-1" style='fill: #6e6e6e;' d="M65.17,0V5.83a2,2,0,0,1-2,2H57.5a2,2,0,0,1-2-2V0H13.17V6.17a2,2,0,0,1-2,2H5.51a2,2,0,0,1-2-2V0H0V68H3.51V63.17a2,2,0,0,1,2-2h5.67a2,2,0,0,1,2,2V68H55.5V62.83a2,2,0,0,1,2-2h5.67a2,2,0,0,1,2,2V68h3.5V0Zm-52,54.5a3,3,0,0,1-3,3H6.51a3,3,0,0,1-3-3V51.83a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H6.51a3,3,0,0,1-3-3V39.5a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H6.51a3,3,0,0,1-3-3V27.17a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H6.51a3,3,0,0,1-3-3V14.83a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm52,36.67a3,3,0,0,1-3,3H58.5a3,3,0,0,1-3-3V51.5a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H58.5a3,3,0,0,1-3-3V39.17a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H58.5a3,3,0,0,1-3-3V26.83a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Zm0-12.33a3,3,0,0,1-3,3H58.5a3,3,0,0,1-3-3V14.5a3,3,0,0,1,3-3h3.67a3,3,0,0,1,3,3Z"/>
                                <rect class="cls-2" style='fill: #8c8c8c;' x="17.5" y="8.5" width="33.67" height="24" rx="4" ry="4"/>
                                <rect class="cls-3" style='fill: #515151;' x="17.5" y="36.17" width="33.67" height="24" rx="4" ry="4"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Movie
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.33 63.88">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <circle class="cls-1" style='fill: #8dddff;' cx="37.67" cy="12.71" r="12.71"/>
                                <polygon class="cls-2" style='fill: #fff3b9;' points="59.54 63.88 49.58 40.11 37.67 36.25 25.75 40.11 15.79 63.88 59.54 63.88"/>
                                <ellipse class="cls-3" style='fill: #7e8ca6;' cx="37.67" cy="26.46" rx="37.67" ry="15.08"/>
                                <g>
                                  <circle class="cls-4" style='fill: #56627a;' cx="37.67" cy="26.46" r="6"/>
                                  <circle class="cls-4" style='fill: #56627a;' cx="57.71" cy="26.46" r="6"/>
                                  <circle class="cls-4" style='fill: #56627a;' cx="17.63" cy="26.46" r="6"/>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Games
              .col-12.col-md-6
                .row
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.17 76.67">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <rect class="cls-1" style='fill: #676767;' width="8" height="76.67" rx="4" ry="4"/>
                                <polygon class="cls-2" style='fill: #ff5400;' points="21.17 51.46 51.17 59.63 51.17 29.63 21.17 21.46 21.17 51.46"/>
                                <polygon class="cls-2" style='fill: #ff5400;' points="8 38.33 38 46.5 38 16.5 8 8.33 8 38.33"/>
                                <polygon class="cls-3" style='fill: #c03f00;' points="21.17 41.92 38 46.5 21.17 51.46 21.17 41.92"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Travel
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.25 58.69">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <rect class="cls-1" style='fill: #a6a495;' x="5.94" y="7.94" width="9.5" height="5.19" rx="2.59" ry="2.59"/>
                                <path class="cls-2" style='fill:  #e0decd;' d="M54.72,9.56l-.26-.13a3.22,3.22,0,0,1-1-.81L47,.77A2.1,2.1,0,0,0,45.38,0H26.87a2.1,2.1,0,0,0-1.63.77L18.79,8.62a3.22,3.22,0,0,1-1,.81l-.26.13a1.34,1.34,0,0,0-.72,1.19V13.5H55.44V10.75A1.34,1.34,0,0,0,54.72,9.56Z"/>
                                <rect class="cls-2" style='fill:  #e0decd;' y="11.19" width="72.25" height="47.5" rx="6.5" ry="6.5"/>
                                <rect class="cls-3" style='fill: #3376d2;' y="25.44" width="72.25" height="19"/>
                                <circle class="cls-4" style='fill: #cac8b7;' cx="36.13" cy="34.94" r="17.5"/>
                                <circle class="cls-1" style='fill: #a6a495;' cx="36.13" cy="34.94" r="12.5"/>
                                <circle class="cls-5" style='fill: #d25133;' cx="65.25" cy="18.02" r="3.25"/>
                                <path class="cls-6" style='fill: #fff;' d="M32.25,3H40a5,5,0,0,1,5,5v.56a2,2,0,0,1-2,2H29.25a2,2,0,0,1-2-2V8A5,5,0,0,1,32.25,3Z"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Photography
                  .col-4
                    .hobbies
                      .svg-icons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 65.77">
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <g>
                                <path class="cls-1" style='fill: #516078;' d="M51.06,61.9a2.5,2.5,0,0,1-1.87-.84l-3.88-4.35V51H25v5.75l-3.88,4.35a2.5,2.5,0,0,1-1.87.84h-3.5a1.5,1.5,0,0,0-1.5,1.5v2.38H56.06V63.4a1.5,1.5,0,0,0-1.5-1.5Z"/>
                                <rect class="cls-2" style='fill: #6f82a4;' width="70" height="53.58" rx="6" ry="6"/>
                                <path class="cls-3" style='fill: #a5b5d3;' d="M6,0H64a6,6,0,0,1,6,6V44.21a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V6A6,6,0,0,1,6,0Z"/>
                                <circle class="cls-1" style='fill: #516078;' cx="35" cy="49.08" r="2.75"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      p Technology

      hr.hr1
      .row
        .col-12.text-center.lead.l-spacer
          h2.m-1 CONTACT
          .bio-social-link
            a(href="https://facebook.com/vkaasraj" target="_blank"): i.fa.fa-facebook.fa-lg
            a(href="https://instagram.com/vkasraj" target="_blank"): i.fa.fa-instagram.fa-lg
            a(href="https://plus.google.com/u/0/108140611250238059802" target="_blank"): i.fa.fa-google-plus.fa-lg
            a(href="https://dribbble.com/vkasraj" target="_blank"): i.fa.fa-dribbble.fa-lg
            a(href="https://github.com/vkasraj" target="_blank"): i.fa.fa-github.fa-lg


    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    <script>window.jQuery || document.write('<script src="../assets/js/jquery.js"><\/script>')</script>
    script(type="text/javascript" language="javascript" src="../assets/js/script.js")
    
